# Supabase Configuration
# COPIE OS VALORES ABAIXO PARA O PAINEL DA VERCEL (Environmental Variables)
VITE_SUPABASE_URL=https://jxmjedkhlxfpnnhmmdgi.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4bWplZGtobHhmcG5uaG1tZGdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxNTE1NDYsImV4cCI6MjA5MDcyNzU0Nn0.CBTPe2aJC2rF1VJwvKxNOXGVnqzlq6-XulHTEIaqCAE

# NOTA: O VITE_SUPABASE_PUBLISHABLE_KEY é o mesmo que o ANON_KEY.
